.carousel-inner > .item > img {
   margin: 0 auto;
   max-height: 140px; 
}

#myCarousel {
    max-width: 500px;
    margin: 0 auto;
} 

nav {
    position: fixed;
    background-color: white;
    color: #080808;
    display: inline-block;
    width: 100%;
    z-index: 1;
}